---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";

import type { Lang } from "../types/lang.type";
import en from "../i18n/en";
import es from "../i18n/es";

export function getStaticPaths() {
	return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

export const defaultLang = "/es";

const lang = Astro.params.lang as Lang;
const translations = { es, en };
const t = translations[lang];
interface Props {
	sideBarActiveItemID: string;
}
const { sideBarActiveItemID } = Astro.props as Props;
---

<div class="drawer-side z-40">
	<label for="my-drawer" class="drawer-overlay"></label>
	<aside class="bg-base-200 flex h-auto min-h-full w-[19rem] flex-col px-2 pt-2">
		<div class="mx-auto mt-5 mb-6 w-fit">
			<a href="/">
				<div class="avatar m-auto block transition ease-in-out hover:scale-[102%]">
					<div class="w-[8.5rem]">
						<Image
							class="mask mask-circle"
							format="png"
							width={300}
							height={300}
							src="/profile.jpg"
							alt="Profile image"
						/>
					</div>
				</div>
			</a>
		</div>
		<SideBarMenu sideBarActiveItemID={sideBarActiveItemID} lang={lang} />
		<SideBarFooter lang={lang} />
	</aside>
</div>
