---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalCard from "../../components/HorizontalCard.astro";
import type { Lang } from "../../types/lang.type";
import en from "../../i18n/en";
import es from "../../i18n/es";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const projects = await getCollection("project");
	return projects.flatMap((project) => [
		{
			params: { slug: project.slug, lang: "es" },
		},
		{
			params: { slug: project.slug, lang: "en" },
		},
	]);
}

export const defaultLang = "/es";

const { lang } = Astro.params as { lang: Lang };
const translations: Record<Lang, typeof en> = { es, en };
const t = translations[lang];

const allProjects = await getCollection("project");
const recentProjects = allProjects
	.filter((p) => p.data.lang === lang)
	.sort((a, b) => new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime())
	.slice(0, 6);
---

<BaseLayout title="Projects" sideBarActiveItemID="projects" lang={lang}>
	<div class="mt-5">
		<div class="mb-5 w-full text-3xl font-bold">{t.projects.title}</div>
	</div>
	<main class="container mx-auto px-4 py-8">
		<div class="grid grid-cols-1 gap-6">
			{recentProjects.map((project) => <HorizontalCard project={project} lang={lang} />)}
		</div>
	</main>
</BaseLayout>
